In [2]:
pip install xlrd

Collecting xlrd
  Obtaining dependency information for xlrd from https://files.pythonhosted.org/packages/a6/0c/c2a72d51fe56e08a08acc85d13013558a2d793028ae7385448a6ccdfae64/xlrd-2.0.1-py2.py3-none-any.whl.metadata
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/96.5 kB ? eta -:--:--
   ------------ --------------------------- 30.7/96.5 kB 330.3 kB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.5 kB 393.8 kB/s eta 0:00:01
   ---------------------------------------- 96.5/96.5 kB 616.4 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import xlrd
df = pd.read_excel("DataSheet_1_Which Factors Are Associated With Reproductive Outcomes of DOR Patients in ART Cycles_ An Eight-Year Retrospective Study.xlsx")
df.head()

,KEYCOD,age,age2,infertility type,years of infertility,No.of previous pregnancy,No.of previous delivery,No.of previous abortion,BMI,FSH,...,2PN,No. of transferrable embryo,No. of good-quality embryos,Embryo stage,No. of embryo transferred,"Type of ART（IVF:0,ICSI:1）",cycle outcome,biochemical pregnancy,"clinical pregnancy(yes:1,no:0)",abortion
0,2016031485,43,40,1,3,1,0,1,27.24,26.05,...,NaN,NaN,NaN,NaN,0,0,1,NaN,0,NaN
1,2016040923,39,38,0,12,0,0,0,19.60,11.88,...,NaN,NaN,NaN,NaN,0,0,0,NaN,0,NaN
2,2016041240,29,34,1,8,1,0,1,21.48,25.69,...,NaN,NaN,NaN,NaN,0,0,0,NaN,0,NaN
3,2016050027,38,38,0,16,0,0,0,22.31,11.09,...,NaN,NaN,NaN,3.0,3,0,1,no,0,NaN
4,2016050190,37,41,1,8,4,1,2,21.90,18.82,...,NaN,NaN,NaN,NaN,0,0,1,NaN,0,NaN

In [10]:
df.columns

Index(['KEYCOD', 'age', 'age2', 'infertility type', 'years of infertility',
       'No.of previous pregnancy', 'No.of previous delivery',
       'No.of previous abortion', 'BMI', 'FSH', 'E2', 'P', 'LH', 'T', 'AMH',
       'basal endometrial thickness', 'AFC', 'Stimulation protocol',
       'Total amount of Gn (IU)', 'Duration of stimulation(d)',
       'Endometrial thickness on HCG (mm)', 'E2 on HCG', 'LH on HCG',
       'P on HCG', 'No. of ≧14mm oocytes', 'Total oocytes retrieved', 'MII',
       '2PN', 'No. of transferrable embryo', 'No. of good-quality embryos',
       'Embryo stage', 'No. of embryo transferred',
       'Type of ART（IVF:0,ICSI:1）', 'cycle outcome', 'biochemical pregnancy',
       'clinical pregnancy(yes:1,no:0)', 'abortion'],
      dtype='object')

In [12]:
df1 = df.dropna()
df1

,KEYCOD,age,age2,infertility type,years of infertility,No.of previous pregnancy,No.of previous delivery,No.of previous abortion,BMI,FSH,...,2PN,No. of transferrable embryo,No. of good-quality embryos,Embryo stage,No. of embryo transferred,"Type of ART（IVF:0,ICSI:1）",cycle outcome,biochemical pregnancy,"clinical pregnancy(yes:1,no:0)",abortion
517,2018051437,28,27,0,2,1,0,1,24.7,10.61,...,1.0,1.0,1.0,2.0,1,0,1,yes,1,√
573,2018081728,42,42,0,16,2,1,1,24.1,10.22,...,1.0,1.0,1.0,3.0,1,0,1,yes,1,√
584,2018091110,28,29,0,5,0,0,0,19.8,12.01,...,3.0,3.0,1.0,3.0,2,0,1,yes,1,√
594,2018101582,25,23,1,2,1,0,1,26.9,11.70,...,2.0,1.0,1.0,3.0,1,0,1,yes,1,√
611,2018121369,23,23,0,2,0,0,0,19.7,24.06,...,11.0,5.0,5.0,3.0,2,1,1,yes,1,√
616,2018121758,39,44,1,3,2,1,1,23.9,12.15,...,5.0,5.0,5.0,5.0,1,0,1,yes,1,√
621,2019010549,36,37,1,4,2,1,1,26.6,22.76,...,3.0,2.0,1.0,3.0,1,1,1,yes,1,√
635,2019021419,31,27,0,5,0,0,0,19.8,11.75,...,4.0,2.0,1.0,3.0,2,0,1,yes,1,√
666,2019041081,42,42,1,3,2,1,1,22.1,13.71,...,3.0,3.0,3.0,3.0,1,0,1,yes,1,√
689,2019051609,39,42,1,3,2,1,1,22.5,11.78,...,5.0,3.0,3.0,3.0,2,0,1,yes,1,√
717,2019061834,34,34,1,1,1,1,0,28.4,18.73,...,2.0,2.0,2.0,3.0,1,0,1,yes,1,√
747,2019072103,40,31,1,3,5,2,1,27.7,13.92,...,2.0,2.0,2.0,3.0,2,0,1,yes,1,√
781,2019090378,37,35,0,3,0,0,0,22.1,24.94,...,1.0,1.0,1.0,3.0,1,0,1,yes,1,√
822,2019101433,38,41,1,5,1,1,0,23.5,10.20,...,6.0,2.0,2.0,3.0,1,1,1,yes,1,√
877,2020030724,33,34,0,3,0,0,0,22.6,13.25,...,5.0,3.0,3.0,3.0,2,0,1,yes,1,√

In [13]:
df1.columns

Index(['KEYCOD', 'age', 'age2', 'infertility type', 'years of infertility',
       'No.of previous pregnancy', 'No.of previous delivery',
       'No.of previous abortion', 'BMI', 'FSH', 'E2', 'P', 'LH', 'T', 'AMH',
       'basal endometrial thickness', 'AFC', 'Stimulation protocol',
       'Total amount of Gn (IU)', 'Duration of stimulation(d)',
       'Endometrial thickness on HCG (mm)', 'E2 on HCG', 'LH on HCG',
       'P on HCG', 'No. of ≧14mm oocytes', 'Total oocytes retrieved', 'MII',
       '2PN', 'No. of transferrable embryo', 'No. of good-quality embryos',
       'Embryo stage', 'No. of embryo transferred',
       'Type of ART（IVF:0,ICSI:1）', 'cycle outcome', 'biochemical pregnancy',
       'clinical pregnancy(yes:1,no:0)', 'abortion'],
      dtype='object')

In [14]:
# Filter the DataFrame to keep only rows where the "Type of ART" column is 0 (IVF)
df1 = df1[df1['Type of ART（IVF:0,ICSI:1）'] == 0]
df1

,KEYCOD,age,age2,infertility type,years of infertility,No.of previous pregnancy,No.of previous delivery,No.of previous abortion,BMI,FSH,...,2PN,No. of transferrable embryo,No. of good-quality embryos,Embryo stage,No. of embryo transferred,"Type of ART（IVF:0,ICSI:1）",cycle outcome,biochemical pregnancy,"clinical pregnancy(yes:1,no:0)",abortion
517,2018051437,28,27,0,2,1,0,1,24.7,10.61,...,1.0,1.0,1.0,2.0,1,0,1,yes,1,√
573,2018081728,42,42,0,16,2,1,1,24.1,10.22,...,1.0,1.0,1.0,3.0,1,0,1,yes,1,√
584,2018091110,28,29,0,5,0,0,0,19.8,12.01,...,3.0,3.0,1.0,3.0,2,0,1,yes,1,√
594,2018101582,25,23,1,2,1,0,1,26.9,11.70,...,2.0,1.0,1.0,3.0,1,0,1,yes,1,√
616,2018121758,39,44,1,3,2,1,1,23.9,12.15,...,5.0,5.0,5.0,5.0,1,0,1,yes,1,√
635,2019021419,31,27,0,5,0,0,0,19.8,11.75,...,4.0,2.0,1.0,3.0,2,0,1,yes,1,√
666,2019041081,42,42,1,3,2,1,1,22.1,13.71,...,3.0,3.0,3.0,3.0,1,0,1,yes,1,√
689,2019051609,39,42,1,3,2,1,1,22.5,11.78,...,5.0,3.0,3.0,3.0,2,0,1,yes,1,√
717,2019061834,34,34,1,1,1,1,0,28.4,18.73,...,2.0,2.0,2.0,3.0,1,0,1,yes,1,√
747,2019072103,40,31,1,3,5,2,1,27.7,13.92,...,2.0,2.0,2.0,3.0,2,0,1,yes,1,√
781,2019090378,37,35,0,3,0,0,0,22.1,24.94,...,1.0,1.0,1.0,3.0,1,0,1,yes,1,√
877,2020030724,33,34,0,3,0,0,0,22.6,13.25,...,5.0,3.0,3.0,3.0,2,0,1,yes,1,√

In [19]:
exact_column_name = 'Type of ART（IVF:0,ICSI:1）' 
age2_column_name = 'age2'
df1 = df1.drop(columns=[exact_column_name, age2_column_name])

KeyError: "['Type of ART（IVF:0,ICSI:1）', 'age2'] not found in axis"

In [20]:
#the above error is because the columns are already removed

In [21]:
df1

,KEYCOD,age,infertility type,years of infertility,No.of previous pregnancy,No.of previous delivery,No.of previous abortion,BMI,FSH,E2,...,MII,2PN,No. of transferrable embryo,No. of good-quality embryos,Embryo stage,No. of embryo transferred,cycle outcome,biochemical pregnancy,"clinical pregnancy(yes:1,no:0)",abortion
517,2018051437,28,0,2,1,0,1,24.7,10.61,51.56,...,1.0,1.0,1.0,1.0,2.0,1,1,yes,1,√
573,2018081728,42,0,16,2,1,1,24.1,10.22,22.03,...,1.0,1.0,1.0,1.0,3.0,1,1,yes,1,√
584,2018091110,28,0,5,0,0,0,19.8,12.01,22.36,...,7.0,3.0,3.0,1.0,3.0,2,1,yes,1,√
594,2018101582,25,1,2,1,0,1,26.9,11.70,18.94,...,2.0,2.0,1.0,1.0,3.0,1,1,yes,1,√
616,2018121758,39,1,3,2,1,1,23.9,12.15,18.09,...,7.0,5.0,5.0,5.0,5.0,1,1,yes,1,√
635,2019021419,31,0,5,0,0,0,19.8,11.75,20.18,...,4.0,4.0,2.0,1.0,3.0,2,1,yes,1,√
666,2019041081,42,1,3,2,1,1,22.1,13.71,8.06,...,4.0,3.0,3.0,3.0,3.0,1,1,yes,1,√
689,2019051609,39,1,3,2,1,1,22.5,11.78,28.50,...,6.0,5.0,3.0,3.0,3.0,2,1,yes,1,√
717,2019061834,34,1,1,1,1,0,28.4,18.73,28.22,...,5.0,2.0,2.0,2.0,3.0,1,1,yes,1,√
747,2019072103,40,1,3,5,2,1,27.7,13.92,32.73,...,3.0,2.0,2.0,2.0,3.0,2,1,yes,1,√
781,2019090378,37,0,3,0,0,0,22.1,24.94,5.00,...,2.0,1.0,1.0,1.0,3.0,1,1,yes,1,√
877,2020030724,33,0,3,0,0,0,22.6,13.25,5.00,...,5.0,5.0,3.0,3.0,3.0,2,1,yes,1,√

In [22]:
df1.to_excel('df1.xlsx', index=False)