In [1]:
import pandas as pd
import xlrd
df = pd.read_excel("S1File.XLSX")
df

,Patient number,Idiopathic RM,Age,AMH,FSH,LH,Number of miscarriages,Estradiol,Diabetes,Hypothyroidism,Hyperthyroidism,Thrombophilic defects,APS
0,1,0,41,1.50,5.0,5.5,3,47,0,1,0,0,0
1,2,1,37,0.72,4.5,8.1,4,15,0,0,0,0,0
2,3,1,28,2.04,1.6,1.8,3,11,0,0,0,0,0
3,4,0,39,0.45,20.1,49.2,4,37,0,0,0,0,0
4,5,0,40,0.82,4.3,9.8,5,11,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,152,0,36,0.27,3.4,4.8,3,93,1,1,0,0,0
140,153,1,25,2.47,2.0,5.5,3,23,0,0,0,0,0
141,154,1,20,2.03,4.9,14.7,5,15,0,0,0,0,0
142,155,1,29,2.20,7.3,9.0,3,54,0,0,0,0,0
143,156,1,39,0.39,8.0,8.3,3,52,0,0,0,0,0

In [2]:
df.columns

Index(['Patient number', 'Idiopathic RM', 'Age', 'AMH', 'FSH', 'LH',
       'Number of miscarriages', 'Estradiol', 'Diabetes', 'Hypothyroidism',
       'Hyperthyroidism', 'Thrombophilic defects', 'APS'],
      dtype='object')

In [3]:
df1 = df.dropna()
df1

,Patient number,Idiopathic RM,Age,AMH,FSH,LH,Number of miscarriages,Estradiol,Diabetes,Hypothyroidism,Hyperthyroidism,Thrombophilic defects,APS
0,1,0,41,1.50,5.0,5.5,3,47,0,1,0,0,0
1,2,1,37,0.72,4.5,8.1,4,15,0,0,0,0,0
2,3,1,28,2.04,1.6,1.8,3,11,0,0,0,0,0
3,4,0,39,0.45,20.1,49.2,4,37,0,0,0,0,0
4,5,0,40,0.82,4.3,9.8,5,11,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,152,0,36,0.27,3.4,4.8,3,93,1,1,0,0,0
140,153,1,25,2.47,2.0,5.5,3,23,0,0,0,0,0
141,154,1,20,2.03,4.9,14.7,5,15,0,0,0,0,0
142,155,1,29,2.20,7.3,9.0,3,54,0,0,0,0,0
143,156,1,39,0.39,8.0,8.3,3,52,0,0,0,0,0

In [5]:
df1.to_excel('dataset_for_mp.xlsx', index=False)
df1

,Patient number,Idiopathic RM,Age,AMH,FSH,LH,Number of miscarriages,Estradiol,Diabetes,Hypothyroidism,Hyperthyroidism,Thrombophilic defects,APS
0,1,0,41,1.50,5.0,5.5,3,47,0,1,0,0,0
1,2,1,37,0.72,4.5,8.1,4,15,0,0,0,0,0
2,3,1,28,2.04,1.6,1.8,3,11,0,0,0,0,0
3,4,0,39,0.45,20.1,49.2,4,37,0,0,0,0,0
4,5,0,40,0.82,4.3,9.8,5,11,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,152,0,36,0.27,3.4,4.8,3,93,1,1,0,0,0
140,153,1,25,2.47,2.0,5.5,3,23,0,0,0,0,0
141,154,1,20,2.03,4.9,14.7,5,15,0,0,0,0,0
142,155,1,29,2.20,7.3,9.0,3,54,0,0,0,0,0
143,156,1,39,0.39,8.0,8.3,3,52,0,0,0,0,0

In [6]:
# Define the descriptions for each column
descriptions = {
    'Patient number': 'Unique identifier for each patient',
    'Idiopathic RM': 'Presence of recurrent miscarriage with no identified cause',
    'Age': 'Age of the patient',
    'AMH': 'Anti-MÃ¼llerian Hormone level, indicating ovarian reserve',
    'FSH': 'Follicle Stimulating Hormone level, important for ovarian function',
    'LH': 'Luteinizing Hormone level, crucial for ovulation and egg maturation',
    'Number of miscarriages': 'Total number of miscarriages experienced by the patient',
    'Estradiol': 'Level of Estradiol hormone, important for follicular development',
    'Diabetes': 'Presence of diabetes',
    'Hypothyroidism': 'Presence of hypothyroidism',
    'Hyperthyroidism': 'Presence of hyperthyroidism',
    'Thrombophilic defects': 'Presence of blood clotting disorders',
    'APS': 'Presence of Antiphospholipid Syndrome'
}

# Create the data dictionary DataFrame
data_dict = pd.DataFrame({
    'Column Name': df1.columns,
    'Data Type': df1.dtypes.values,
    'Description': df1.columns.map(descriptions)
})

# Save the data dictionary to a CSV file
data_dict.to_csv('data_dictionary_mp.csv', index=False)

# Print the data dictionary to verify the results
print(data_dict)

               Column Name Data Type  \
0           Patient number     int64
1            Idiopathic RM     int64
2                      Age     int64
3                      AMH   float64
4                      FSH   float64
5                       LH   float64
6   Number of miscarriages     int64
7                Estradiol     int64
8                 Diabetes     int64
9           Hypothyroidism     int64
10         Hyperthyroidism     int64
11   Thrombophilic defects     int64
12                     APS     int64

                                          Description
0                  Unique identifier for each patient
1   Presence of recurrent miscarriage with no iden...
2                                  Age of the patient
3   Anti-MÃ¼llerian Hormone level, indicating ovari...
4   Follicle Stimulating Hormone level, important ...
5   Luteinizing Hormone level, crucial for ovulati...
6   Total number of miscarriages experienced by th...
7   Level of Estradiol hormone, important for foll...
8                                Presence of diabetes
9                          Presence of hypothyroidism
10                        Presence of hyperthyroidism
11               Presence of blood clotting disorders
12              Presence of Antiphospholipid Syndrome